on: push
name:  Deploy website on push
jobs:
  web-deploy:
    name:  Deploy
    runs-on: ubuntu-latest
    steps:
    - name:  Get latest code
      uses: actions/checkout@v4

    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: '16'
      
    - name: Build Project
      run: |
        npm install --loglevel=error
        npm audit fix --force
        npm run build
    
    - name: Sync files
      uses: abkarcode/FTP-Deploy-Action@v4.3.5
      with:
        server: ftp.abkarcode.com
        username: ${{ secrets.FTP_USER }}
        password: ${{ secrets.FTP_PASSWORD}}

